# comment your work! EJW
# comment starting date 7/22/97 EJW
# replaced all "|" in indicator values with "_"; 5/18/98 ES
# reviewed and revised 9/1/99 (see '..\Specs\99.1\OCLC Tag Table Updates.doc')
#   for 99.1 release TJU
# added 016 and 066 fields 5/9/2000 SJO

[010]
0=a 0A
1=b 1A
2=z 1A
Subfa=LC control number
Subfb=NUCMC control number
Subfz=Cancelled/invalid LC control number

[010Ind1]
0=_ 
Value_=Undefined

[010Ind2]
0=_ 
Value_=Undefined

[014]
0=a 0A
1=b 0A
2=z 1A
Subfa=Linkage number
Subfb=Source of number
Subfz=Cancelled/invalid linkage number

[014Ind1]
0=0 
1=1 
Value0=Holdings record number
Value1=Bibliographic record number

[014Ind2]
0=_ 
Value_=Undefined

[016]
0=a 0
1=z 1
2=2 0
Subfa=Record control number
Subfz=Cancelled or invalid record control number
Subf2=Source

[016Ind1]
0=_
1=7
Value_=National Library of Canada
Value7=Source specified in subfield $2

[016Ind2]
0=_
Value_=Undefined

[020]
0=a 0A
1=c 0A
2=z 1A
Subfa=International Standard Book Number
Subfc=Terms of availability
Subfz=Cancelled/invalid ISBN

[020Ind1]
0=_ 
Value_=Undefined

[020Ind2]
0=_ 
Value_=Undefined

[022]
0=a 0A
1=y 1A
2=z 1A
Subfa=International Standard Serial Number
Subfy=Incorrect ISSN
Subfz=Cancelled ISSN

[022Ind1]
0=_ 
Value_=Undefined

[022Ind2]
0=_ 
Value_=Undefined

[024]
0=a 0A
1=c 0A
2=d 0A
3=z 0A
4=2 0A
Subfa=Standard recording code
Subfc=Terms of availability
Subfd=Additional codes following the standard number or code
Subfz=Cancelled/invalid standard code
Subf2=Source of code or number

[024Ind1]
0=0 
1=1 
2=2
3=3
4=4
5=7
6=8
Value0=International Standard Recording Code
Value1=U.S. Universal Product Code for sound recording
Value2=International Standard Music Number
Value3=International Article Number
Value4=Serial Item and Contribution Identifier
Value7=Source specified in subfield $2
Value8=Unspecified type of standard number or code

[024Ind2]
0=_ 
1=0
2=1
Value_=No information provided
Value0=No difference
Value1=Difference

[027]
0=a 0A
1=z 1A
Subfa=Standard Technical Report Number
Subfz=Cancelled/invalid STRN

[027Ind1]
0=_ 
Value_=Undefined

[027Ind2]
0=_ 
Value_=Undefined

[030]
0=a 0A
1=z 1A
Subfa=CODEN
Subfz=Cancelled/invalid CODEN

[030Ind1]
0=_ 
Value_=Undefined

[030Ind2]
0=_ 
Value_=Undefined

[035]
0=a 0A
1=z 1A
Subfa=System control number
Subfz=Cancelled/invalid system control number

[035Ind1]
0=_ 
Value_=Undefined

[035Ind2]
0=_ 
Value_=Undefined

[066]
0=a 0
1=b 0
2=c 1
Subfa=Non-ASCII G0 default character set designation
Subfb=Non-ANSEL G1 default character set designation
Subfc=Alternate graphic character set designation

[066Ind1]
0=_
Value_=Undefined

[066Ind2)
0=_
Value_=Undefined
