# comment your work! EJW
# comment starting date 7/22/97 EJW
# deleted 350 8/11/97 ES
# replaced all "|" in indicator values with "_"; 5/18/98 ES
# update #3 8/17/98 KLD
# made several changes as per MARC21 Bibliographic, Appendix G  1/14/00  SJO
# Voyager 2001.2 changes 2/4/2002
# (no changes)

[300]
0=a 1M
1=b 0A
2=c 1A
3=e 0A
4=f 1A
5=g 1A
6=3 0A
7=6 0A
8=8 1A
Subfa=Extent
Subfb=Other physical details
Subfc=Dimensions
Subfe=Accompanying material
Subff=Type of unit
Subfg=Size of unit
Subf3=Materials specified
Subf6=Linkage
Subf8=Field link and sequence number

[300Ind1]
0=_ 
Value_=Undefined

[300Ind2]
0=_ 
Value_=Undefined

[306]
0=a 1M
Subfa=Playing time

[306Ind1]
0=_ 
Value_=Undefined

[306Ind2]
0=_ 
Value_=Undefined

[307]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Hours
Subfb=Additional information
Subf6=Linkage
Subf8=Field link and sequence number

[307Ind1]
0=_ 
1=8
Value_=Hours
Value8=No display constant generated

[307Ind2]
0=_
Value_=Undefined 

[310]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Current publication frequency
Subfb=Date of publication frequency
Subf6=Linkage
Subf8=Field link and sequence number

[310Ind1]
0=_ 
Value_=Undefined

[310Ind2]
0=_ 
Value_=Undefined

[321]
0=a 0A
1=b 0A
2=6 0A
Subfa=Former publication frequency
Subfb=Dates of former publication frequency
Subf6=Linkage

[321Ind1]
0=_ 
Value_=Undefined

[321Ind2]
0=_ 
Value_=Undefined

[340]
0=a 1A
1=b 1A
2=c 1A
3=d 1A
4=e 1A
5=f 1A
6=h 1A
7=i 1A
8=3 0A
9=6 0A
10=8 1A
Subfa=Material base and configuration
Subfb=Dimensions
Subfc=Materials applied to surface
Subfd=Information recording technique
Subfe=Support
Subff=Production rate/ratio
Subfh=Location within medium
Subfi=Technical specifications of medium
Subf3=Materials specified
Subf6=Linkage
Subf8=Field link and sequence number

[340Ind1]
0=_ 
Value_=Undefined

[340Ind2]
0=_ 
Value_=Undefined

[342]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 1A
5=f 1A
6=g 0A
7=h 0A
8=i 0A
9=j 0A
10=k 0A
11=l 0A
12=m 0A
13=n 0A
14=o 0A
15=p 0A
16=q 0A
17=r 0A
18=s 0A
19=t 0A
20=u 0A
21=v 0A
22=w 0A
23=2 0A
24=6 0A
25=8 1A
Subfa=Name
Subfb=Coordinate or distance units
Subfc=Latitude resolution
Subfd=Longitude resolution
Subfe= Standard parallel or oblique line latitude
Subff=Oblique line longitude
Subfg=Longitude of central meridian or projection center
Subfh=Latitude of projection origin or projection center
Subfi=False easting
Subfj=False northing
Subfk=Scale factor
Subfl=Height of perspective point above surface
Subfm=Azimuth angle
Subfn=Azimuth measure point longitude or straight vertical longitude from pole
Subfo=Landsat number and path number
Subfp=Zone identifier
Subfq=Ellipsoid name
Subfr=Semi-major axis
Subfs=Denominator of flattening ratio
Subft=Vertical resolution
Subfu=Vertical encoding method
Subfv=Local planar, local, or other projection or grid description
Subfw=Local planar or local georeference information
Subf2=Reference method used 
Subf6=Linkage
Subf8=Field link and sequence number

[342Ind1]
0=0 
1=1
Value0=Horizontal coordinate system
Value1=Vertical coordinate system

[342Ind2]
0=0
1=1
2=2
3=3
4=4
5=5
6=6
7=7
8=8
Value0=Geographic
Value1=Map projection
Value2=Grid coordinate system
Value3=Local planar
Value4=Local
Value5=Geodetic model
Value6=Altitude
Value7=Method specified in 2
Value8=Depth

[343]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=i 0A
9=6 0A
10=8 1A
Subfa=Planar coordinate encoding method
Subfb=Planar distance units
Subfc=Abscissa resolution
Subfd=Ordinate resolution
Subfe=Distance resolution
Subff=Bearing resolution
Subfg=Bearing units
Subfh=Bearing reference direction
Subfi=Bearing reference meridian
Subf6=Linkage
Subf8=Field link and sequence number

[343Ind1]
0=_
Value_=Undefined

[343Ind2]
0=_
Value_=Undefined

[351]
0=a 1A
1=b 1A
2=c 0A
3=3 0A
4=6 0A
5=8 1A
Subfa=Organization
Subfb=Arrangement
Subfc=Hierarchical level
Subf3=Materials specified
Subf6=Linkage
Subf8=Field link and sequence number

[351Ind1]
0=_ 
Value_=Undefined

[351Ind2]
0=_ 
Value_=Undefined

[352]
0=a 0A
1=b 1A
2=c 1A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=i 0A
8=6 0A
9=8 1A
Subfa=Direct reference method
Subfb=Object type
Subfc=Object count
Subfd=Row count
Subfe=Column count
Subff=Vertical count
Subfg=VPF topology level
Subfi=Indirect reference description
Subf6=Linkage
Subf8=Field link and sequence number

[352Ind1]
0=_ 
Value_=Undefined

[352Ind2]
0=_ 
Value_=Undefined

[355]
0=a 0A
1=b 1A
2=c 1A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 1A
8=j 0A
9=6 0A
10=8 1A
Subfa=Security classification
Subfb=Handling instructions
Subfc=External dissemination information
Subfd=Downgrading or declassification event
Subfe=Classification system
Subff=Country of origin code
Subfg=Downgrading date
Subfh=Declassification date
Subfj=Authorization
Subf6=Linkage
Subf8=Field link and sequence number

[355Ind1]
0=0 
1=1 
2=2 
3=3 
4=4 
5=5
6=8 
Value0=Document
Value1=Title
Value2=Abstract
Value3=Contents note
Value4=Author
Value5=Record
Value8=Other element

[355Ind2]
0=_ 
Value_=Undefined

[357]
0=a 0A
1=b 1A
2=c 1A
3=g 1A
4=6 0A
5=8 1A
Subfa=Originator control term
Subfb=Originating agency
Subfc=Authorized recipients of material
Subfg=Other restrictions
Subf6=Linkage
Subf8=Field link and sequence number

[357Ind1]
0=_ 
Value_=Undefined

[357Ind2]
0=_ 
Value_=Undefined

[362]
0=a 0A
1=z 0A
2=6 0A
3=8 1A
Subfa=Dates of publication and/or sequential designation
Subfz=Source of information
Subf6=Linkage
Subf8=Field link and sequence number

[362Ind1]
0=0 
1=1 
Value0=Formatted style
Value1=Unformatted note

[362Ind2]
0=_ 
Value_=Undefined
