body {
  background-color: #b6cdea;
}


h1 {
  font-family: sans-serif;
  font-size: 40pt;
  text-align: center;
  padding: 50px;
  margin-top: 0px;
  color: white;
  background-color: #007288;
}

.form {
  background-color: #b6cdea;
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}

input {
  width: 65%;
}

input[type="submit"] {
  padding: 2%;
  background-color: #007288;
  font-size: 16pt;
}

/*output {
  width: 50%;
}*/

div[id="resultsBox"] {
  font-size: 18pt;
  color: yellow;
}
